.background-primary {
    background-color: #e3ecff;
}

.sm-text {
    font-size: 0.8rem;
}

.dollar {
    font-weight: bold;
}

.amount {
    font-size: 2rem;
    font-weight: 500;
}

input[type="range" i] {
    width: 100%;
}


.final-amount {
    font-size: 1rem;
    font-weight: 700;
}

.main-h {
    font-weight: 400;
}

.custom-text {
    background: none;
    border: none;
}

.custom-text:focus-visible {
    border: none;
    box-shadow: none;
    outline: none;
}

.bg-white {
    box-shadow: -1px -2px 20px 0px #0000001a;
}
.align-items-center p {
    margin-bottom: 0rem;
}

/* .tax-table{
    display: none;
} */